.container{
	display: grid;
	/* “unidad fr” viene de fracción, ésta indica el espacio disponible que tenemos, por ejemplo a una columna se le da el 25% del espacio y a la segunda columna se le da 1fr, o sea, que ocupe el demás espacio que sobre, así no se nos crea un scrollbar */
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	/* "repeat" nos sirve para no estar poniendo "10px 10px 10px 10px 10px", así solo pones repeat y dentro de los paréntesis las veces que quieres repetir las medidas */
	grid-template-rows: repeat(6,150px);
	/* grid-gap es para definir la separación entre cada div */
	grid-gap: 10px;
		grid-auto-flow: row dense;
}

.container >.item{
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container >.item:first-child{
	grid-column: 2 / 4;
	grid-row: 1 / 3;
	/* span nos ayuda a contar tracks */
	/* grid-row: span 2; */
}

.container >.item:nth-child(10){
	grid-column: span 3;
	grid-row: span 2;
}

.container >.item >img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* "grid-auto-columns" y "grid-auto-rows" sirven para definir las medidas de los siguientes tracks que se vayan añadiendo */
/* "grid-auto-flow: dense" sirve para rellenar los huecos que se creen en el grid debido a las posiciones que le asignemos a un track */